.ysearchcontainer {
    position: absolute;
    top: 1.7em;
    width: 100%;
}

.ysearchcontainer .yui-ac-content {
    position: absolute;
    width: 100%;
    border: 1px solid #404040;
    background: #fff;
    overflow: hidden;
    z-index: 9050;
}

.ysearchcontainer .yui-ac-shadow {
    position: absolute;
    margin: .3em;
    width: 100%;
    background: #a0a0a0;
    z-index: 9049;
}

.ysearchcontainer ul {
    list-style:none;
    padding-left 0;
    margin-left: 3px;
    padding: 5px 0;
    width: 100%;
}

.ysearchcontainer li {
    padding-left 0;
    margin-left: 0;
    cursor: default;
    white-space: nowrap;
}

.ysearchcontainer li.yui-ac-highlight {
    background: #ccddaa;
}

.ysearchcontainer li.yui-ac-prehighlight {
    background: #eeffcc;
}